/back-end/NetMarket/WebApi/bin
/back-end/NetMarket/Core/bin
/back-end/NetMarket/BusinessLogic/bin
/back-end/NetMarket/BusinessLogic/obj/Debug
/back-end/NetMarket/Core/obj/Debug
/back-end/NetMarket/WebApi/obj/Debug
